.app-container {
  background-color: #f3f3fb;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-bar-right {
  background-color: white;
  box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border: none;
  border-radius: 18px;
  width: 350px;
  height: 550px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.h3 {
  margin-bottom: 20px;
  font-size: 22px;
}
