.form-row {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
}

.label-md {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2c2e3a;
}

.input-primary {
  border: 1px solid #a8abbd;
  border-radius: 12px;
  padding: 16px;
}

.textarea {
  border-radius: 12px;
}

.button-primary {
  font-size: 16px;
  border-radius: 12px;
  padding: 19px 74px;
  border: none;
  border-radius: 12px;
  background-color: rgb(73, 73, 204);
  color: rgb(233, 225, 225);
  margin-left: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}
